# --- IDEs y Sistema ---
.vscode/
.idea/
.metadata/
.project
.classpath
.settings/
*.iml
*.swp
*.DS_Store
bin/

# --- Backend (Spring Boot / Maven) ---
backend/target/
backend/*.jar
backend/*.war
backend/*.zip
backend/.mvn/wrapper/maven-wrapper.jar
!backend/.mvn/wrapper/maven-wrapper.properties

# --- Frontend (Android / Gradle) ---
frontend/.gradle/
frontend/build/
frontend/app/build/
frontend/local.properties

# Ejecutables finales
*.apk
*.aab
*.exe

# Logs
*.log
